In [1]:
from data.sql import *
from data.duck import sql_inventory, dd
from operator import itemgetter
from uuid import uuid4
from path import PATH_DB

In [2]:
db_tables = list_tables() # store tables in variable

In [3]:
print(db_tables) # print the current tables

[('entity_sql',), ('inventory_sql',)]

In [4]:
for table in db_tables: # drop all the current tables
    drop_table(table[0])

In [5]:
db_tables = list_tables() # refresh the current tables

In [6]:
print(db_tables) # print again to check they're all gone

[]

In [7]:
# create new tables and validate
create_table_entity()
create_table_inventory()

In [8]:
# show the database tables and columns
tables = dd.sql("SHOW TABLES").fetchall()
for table in tables:
    tbl = table[0]
    print(tbl)
    sql = "DESCRIBE " + tbl
    res= dd.execute(sql).df()
    print(res)
    print()

entity_sql
            column_name column_type null   key            default extra
0             entity_id     VARCHAR   NO  None               None  None
1      entity_id_parent     VARCHAR  YES  None               None  None
2            entity_key     VARCHAR   NO   PRI               None  None
3                  noun     VARCHAR   NO  None               None  None
4            adjectives     VARCHAR  YES  None               None  None
5  description_singular     VARCHAR   NO  None               None  None
6    description_plural     VARCHAR   NO  None               None  None
7  base_hierarchy_level      BIGINT  YES  None               None  None
8          created_time   TIMESTAMP  YES  None  CURRENT_TIMESTAMP  None

inventory_sql
           column_name column_type null   key            default extra
0         inventory_id     VARCHAR   NO  None               None  None
1  inventory_id_parent     VARCHAR   NO  None               None  None
2     entity_id_parent     VARCHAR   NO   PRI               None  None
3      entity_id_child     VARCHAR   NO   PRI               None  None
4             quantity      BIGINT   NO  None                  0  None
5             position     VARCHAR  YES   PRI               'IN'  None
6      hierarchy_level      BIGINT  YES  None               None  None
7         created_time   TIMESTAMP  YES  None  CURRENT_TIMESTAMP  None

In [9]:
# site record
insert_entity(
    entity_id="281d67f9-7236-4c63-adaf-c7fac017d962",
    entity_key="chads_st_vicarage",
    noun="vicarage",
    adjectives="st chads",
    description_singular="st chads vicarage",
    description_plural="st chads vicarages",
    base_hierarchy_level=1,
)

# check the entity records
dd.sql("select * from entity_sql").show()

┌──────────────────────────────────────┬──────────────────┬───────────────────┬──────────┬────────────┬──────────────────────┬────────────────────┬──────────────────────┬─────────────────────┐
│              entity_id               │ entity_id_parent │    entity_key     │   noun   │ adjectives │ description_singular │ description_plural │ base_hierarchy_level │    created_time     │
│               varchar                │     varchar      │      varchar      │ varchar  │  varchar   │       varchar        │      varchar       │        int64         │      timestamp      │
├──────────────────────────────────────┼──────────────────┼───────────────────┼──────────┼────────────┼──────────────────────┼────────────────────┼──────────────────────┼─────────────────────┤
│ 281d67f9-7236-4c63-adaf-c7fac017d962 │ None             │ chads_st_vicarage │ vicarage │ st chads   │ st chads vicarage    │ st chads vicarages │                    1 │ 2025-03-11 21:48:33 │
└──────────────────────────────────────┴──────────────────┴───────────────────┴──────────┴────────────┴──────────────────────┴────────────────────┴──────────────────────┴─────────────────────┘

In [10]:
# room records
rooms = [
    ("lounge","lounge","","lounge","lounges","03dd5c43-d66e-4c3f-a6eb-eb67b47c0373","281d67f9-7236-4c63-adaf-c7fac017d962"),
    ("kitchen","kitchen","","kitchen","kitchens","468edbe1-74ea-41f2-b1ae-c97806841e0d","281d67f9-7236-4c63-adaf-c7fac017d962"),
    ("dining_room","room","dining","dining room","dining rooms","e5998068-17a4-4c7d-b64f-4b6e28e8b93d","281d67f9-7236-4c63-adaf-c7fac017d962"),
]

for room in rooms: 
    insert_entity(
        entity_id = room[5],
        entity_key = room[0],
        noun = room[1],
        adjectives = room[2],
        description_singular = room[3],
        description_plural = room[4],
        # base_hierarchy_level = 2,
        # entity_id_parent = room[6],
    )
# check the entty records
dd.sql("select * from entity_sql").show()

┌──────────────────────────────────────┬──────────────────┬───────────────────┬──────────┬────────────┬──────────────────────┬────────────────────┬──────────────────────┬─────────────────────┐
│              entity_id               │ entity_id_parent │    entity_key     │   noun   │ adjectives │ description_singular │ description_plural │ base_hierarchy_level │    created_time     │
│               varchar                │     varchar      │      varchar      │ varchar  │  varchar   │       varchar        │      varchar       │        int64         │      timestamp      │
├──────────────────────────────────────┼──────────────────┼───────────────────┼──────────┼────────────┼──────────────────────┼────────────────────┼──────────────────────┼─────────────────────┤
│ 281d67f9-7236-4c63-adaf-c7fac017d962 │ None             │ chads_st_vicarage │ vicarage │ st chads   │ st chads vicarage    │ st chads vicarages │                    1 │ 2025-03-11 21:48:33 │
│ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ None             │ lounge            │ lounge   │            │ lounge               │ lounges            │                    0 │ 2025-03-11 21:48:33 │
│ 468edbe1-74ea-41f2-b1ae-c97806841e0d │ None             │ kitchen           │ kitchen  │            │ kitchen              │ kitchens           │                    0 │ 2025-03-11 21:48:33 │
│ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │ None             │ dining_room       │ room     │ dining     │ dining room          │ dining rooms       │                    0 │ 2025-03-11 21:48:33 │
└──────────────────────────────────────┴──────────────────┴───────────────────┴──────────┴────────────┴──────────────────────┴────────────────────┴──────────────────────┴─────────────────────┘

In [11]:
# item records
items = [
    ("chair_yellow","chair","yellow","yellow chair","yellow chairs","4d10faad-8a10-436b-b732-011a7b4ad043"), # yellow chair
    ("coffee_table","table","coffee","coffee table","coffee tables","bb85b691-61f2-4a73-8313-3e5367d4b7b6"), # coffee table
    ("toaster","toaster","","toaster","toasters","aa5c5230-29d1-4f02-b011-20a6ea03766a"), # toaster
    ("coaster","coaster","","coaster","coasters","f03c6766-6984-4821-9dcf-a1efc231758f"), # coaster
    ("bread_of_slice","bread","slice of","slice of bread","slices of bread","3e874dbd-0cfc-4388-ad8b-ddfcc1b6a329"), # slice of bread
]

for item in items: 
    insert_entity(
        entity_id = item[5],
        entity_key = item[0],
        noun = item[1],
        adjectives = item[2],
        description_singular = item[3],
        description_plural = item[4]
    )
# check the entity records
dd.sql("select * from entity_sql").show()

┌──────────────────────────────────────┬──────────────────┬───────────────────┬──────────┬────────────┬──────────────────────┬────────────────────┬──────────────────────┬─────────────────────┐
│              entity_id               │ entity_id_parent │    entity_key     │   noun   │ adjectives │ description_singular │ description_plural │ base_hierarchy_level │    created_time     │
│               varchar                │     varchar      │      varchar      │ varchar  │  varchar   │       varchar        │      varchar       │        int64         │      timestamp      │
├──────────────────────────────────────┼──────────────────┼───────────────────┼──────────┼────────────┼──────────────────────┼────────────────────┼──────────────────────┼─────────────────────┤
│ 281d67f9-7236-4c63-adaf-c7fac017d962 │ None             │ chads_st_vicarage │ vicarage │ st chads   │ st chads vicarage    │ st chads vicarages │                    1 │ 2025-03-11 21:48:33 │
│ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ None             │ lounge            │ lounge   │            │ lounge               │ lounges            │                    0 │ 2025-03-11 21:48:33 │
│ 468edbe1-74ea-41f2-b1ae-c97806841e0d │ None             │ kitchen           │ kitchen  │            │ kitchen              │ kitchens           │                    0 │ 2025-03-11 21:48:33 │
│ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │ None             │ dining_room       │ room     │ dining     │ dining room          │ dining rooms       │                    0 │ 2025-03-11 21:48:33 │
│ 4d10faad-8a10-436b-b732-011a7b4ad043 │ None             │ chair_yellow      │ chair    │ yellow     │ yellow chair         │ yellow chairs      │                    0 │ 2025-03-11 21:48:33 │
│ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │ None             │ coffee_table      │ table    │ coffee     │ coffee table         │ coffee tables      │                    0 │ 2025-03-11 21:48:33 │
│ aa5c5230-29d1-4f02-b011-20a6ea03766a │ None             │ toaster           │ toaster  │            │ toaster              │ toasters           │                    0 │ 2025-03-11 21:48:33 │
│ f03c6766-6984-4821-9dcf-a1efc231758f │ None             │ coaster           │ coaster  │            │ coaster              │ coasters           │                    0 │ 2025-03-11 21:48:33 │
│ 3e874dbd-0cfc-4388-ad8b-ddfcc1b6a329 │ None             │ bread_of_slice    │ bread    │ slice of   │ slice of bread       │ slices of bread    │                    0 │ 2025-03-11 21:48:33 │
└──────────────────────────────────────┴──────────────────┴───────────────────┴──────────┴────────────┴──────────────────────┴────────────────────┴──────────────────────┴─────────────────────┘

In [12]:
# insert the inventory records to link the rooms to the site
inventory = [
    ("8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe","8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe","281d67f9-7236-4c63-adaf-c7fac017d962","03dd5c43-d66e-4c3f-a6eb-eb67b47c0373",1), # lounge
    ("4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1","4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1","281d67f9-7236-4c63-adaf-c7fac017d962","468edbe1-74ea-41f2-b1ae-c97806841e0d",1), # kitchen
    ("6dc856f4-42fe-4fe0-868b-9d002eff2e27","6dc856f4-42fe-4fe0-868b-9d002eff2e27","281d67f9-7236-4c63-adaf-c7fac017d962","e5998068-17a4-4c7d-b64f-4b6e28e8b93d",1), # dining room
]
for inv in inventory:
    insert_inventory(
        inventory_id=inv[0],
        inventory_id_parent=inv[1],
        entity_id_parent=inv[2],
        entity_id_child=inv[3],
        quantity=inv[4],
    )

# check the inventory records
dd.sql(sql_inventory()).show()

┌───────┬───────┬─────────────┬─────────┬───────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │    child    │   pos   │      parent       │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │   varchar   │ varchar │      varchar      │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼─────────────┼─────────┼───────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     0 │     1 │ dining room │ IN      │ st chads vicarage │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │
│     0 │     1 │ kitchen     │ IN      │ st chads vicarage │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ 468edbe1-74ea-41f2-b1ae-c97806841e0d │
│     0 │     1 │ lounge      │ IN      │ st chads vicarage │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │
└───────┴───────┴─────────────┴─────────┴───────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [13]:
# insert some items into the inventory
inventory = [
    ("2dfea04c-e8ea-4735-8b9a-4a9bf92dca08","8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe","03dd5c43-d66e-4c3f-a6eb-eb67b47c0373","bb85b691-61f2-4a73-8313-3e5367d4b7b6",2), # add 2 coffee tables to lounge
    ("c064c2ee-0119-43fb-b8da-b247a4ce5007","4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1","468edbe1-74ea-41f2-b1ae-c97806841e0d","aa5c5230-29d1-4f02-b011-20a6ea03766a",1), # add 1 toaster to kitchen
    ("4e18e23a-ca8b-4ed3-9ba6-8e2fb46d6cd8","6dc856f4-42fe-4fe0-868b-9d002eff2e27","e5998068-17a4-4c7d-b64f-4b6e28e8b93d","4d10faad-8a10-436b-b732-011a7b4ad043",3), # add 3 yellow chairs to dining room
]
for inv in inventory:
    insert_inventory(
        inventory_id=inv[0],
        inventory_id_parent=inv[1],
        entity_id_parent=inv[2],
        entity_id_child=inv[3],
        quantity=inv[4],
    )

# check the inventory records
dd.sql(sql_inventory()).show()

┌───────┬───────┬──────────────┬─────────┬───────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │    child     │   pos   │      parent       │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │   varchar    │ varchar │      varchar      │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼──────────────┼─────────┼───────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     0 │     1 │ lounge       │ IN      │ st chads vicarage │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │
│     0 │     1 │ kitchen      │ IN      │ st chads vicarage │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ 468edbe1-74ea-41f2-b1ae-c97806841e0d │
│     0 │     1 │ dining room  │ IN      │ st chads vicarage │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │
│     0 │     2 │ coffee table │ IN      │ lounge            │ 2dfea04c-e8ea-4735-8b9a-4a9bf92dca08 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │
│     0 │     1 │ toaster      │ IN      │ kitchen           │ c064c2ee-0119-43fb-b8da-b247a4ce5007 │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 468edbe1-74ea-41f2-b1ae-c97806841e0d │ aa5c5230-29d1-4f02-b011-20a6ea03766a │
│     0 │     3 │ yellow chair │ IN      │ dining room       │ 4e18e23a-ca8b-4ed3-9ba6-8e2fb46d6cd8 │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │ 4d10faad-8a10-436b-b732-011a7b4ad043 │
└───────┴───────┴──────────────┴─────────┴───────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [14]:
# insert some lower level items into the inventory
inventory = [
    ("c24f8072-9ced-45ee-9f1e-f7d1af7205d9","2dfea04c-e8ea-4735-8b9a-4a9bf92dca08","bb85b691-61f2-4a73-8313-3e5367d4b7b6","f03c6766-6984-4821-9dcf-a1efc231758f",2, "ON"), # add 2 coasters to coffee tables
    ("13c461ce-3d8b-4c9e-a4b6-21e43bb7e85e","c064c2ee-0119-43fb-b8da-b247a4ce5007","aa5c5230-29d1-4f02-b011-20a6ea03766a","3e874dbd-0cfc-4388-ad8b-ddfcc1b6a329",1, "IN"), # add 1 slice of bread to toaster
]
for inv in inventory:
    insert_inventory(
        inventory_id=inv[0],
        inventory_id_parent=inv[1],
        entity_id_parent=inv[2],
        entity_id_child=inv[3],
        quantity=inv[4],
        position=inv[5],
    )

# check the inventory records
dd.sql(sql_inventory()).show()

┌───────┬───────┬────────────────┬─────────┬───────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │     child      │   pos   │      parent       │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │    varchar     │ varchar │      varchar      │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼────────────────┼─────────┼───────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     0 │     1 │ lounge         │ IN      │ st chads vicarage │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │
│     0 │     1 │ kitchen        │ IN      │ st chads vicarage │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ 468edbe1-74ea-41f2-b1ae-c97806841e0d │
│     0 │     1 │ dining room    │ IN      │ st chads vicarage │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │
│     0 │     2 │ coffee table   │ IN      │ lounge            │ 2dfea04c-e8ea-4735-8b9a-4a9bf92dca08 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │
│     0 │     1 │ toaster        │ IN      │ kitchen           │ c064c2ee-0119-43fb-b8da-b247a4ce5007 │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 468edbe1-74ea-41f2-b1ae-c97806841e0d │ aa5c5230-29d1-4f02-b011-20a6ea03766a │
│     0 │     3 │ yellow chair   │ IN      │ dining room       │ 4e18e23a-ca8b-4ed3-9ba6-8e2fb46d6cd8 │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │ 4d10faad-8a10-436b-b732-011a7b4ad043 │
│     0 │     2 │ coaster        │ ON      │ coffee table      │ c24f8072-9ced-45ee-9f1e-f7d1af7205d9 │ 2dfea04c-e8ea-4735-8b9a-4a9bf92dca08 │ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │ f03c6766-6984-4821-9dcf-a1efc231758f │
│     0 │     1 │ slice of bread │ IN      │ toaster           │ 13c461ce-3d8b-4c9e-a4b6-21e43bb7e85e │ c064c2ee-0119-43fb-b8da-b247a4ce5007 │ aa5c5230-29d1-4f02-b011-20a6ea03766a │ 3e874dbd-0cfc-4388-ad8b-ddfcc1b6a329 │
└───────┴───────┴────────────────┴─────────┴───────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [15]:
# check the updating is working
update_inventory(
    inventory_id = "2dfea04c-e8ea-4735-8b9a-4a9bf92dca08", # coffee tables in the lounge
    quantity = 5 # quanity updated from 2 to 5
)

# check the updated inventory record
dd.sql(sql_inventory(inventory_id='2dfea04c-e8ea-4735-8b9a-4a9bf92dca08')).show()

┌───────┬───────┬──────────────┬─────────┬─────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │    child     │   pos   │ parent  │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │   varchar    │ varchar │ varchar │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼──────────────┼─────────┼─────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     0 │     5 │ coffee table │ IN      │ lounge  │ 2dfea04c-e8ea-4735-8b9a-4a9bf92dca08 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │
└───────┴───────┴──────────────┴─────────┴─────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [16]:
# update the inventory hierarchy levels
dd.sql("UPDATE inventory_sql SET hierarchy_level = 1 WHERE EXISTS (SELECT 1 from entity_sql WHERE entity_sql.entity_id = inventory_sql.entity_id_parent AND entity_sql.base_hierarchy_level = 1)") # level 1 where the parent is an entity with a base_hierarchy level of 1

while True:
    updates = dd.sql("SELECT Child.inventory_id, Parent.hierarchy_level + 1 as new_hierarchy_level FROM inventory_sql Child INNER JOIN inventory_sql Parent on Child.inventory_id_parent = Parent.inventory_id and Child.hierarchy_level = 0 and Parent.hierarchy_level > 0").df() # now get any non-level kids with levely parents
    if updates.empty: # break if there aren't any more updated
        break
    dd.sql("UPDATE inventory_sql SET hierarchy_level = new_hierarchy_level from updates where updates.inventory_id = inventory_sql.inventory_id") #update the database based upon the updated data frame

dd.sql(sql_inventory()).show()

┌───────┬───────┬────────────────┬─────────┬───────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │     child      │   pos   │      parent       │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │    varchar     │ varchar │      varchar      │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼────────────────┼─────────┼───────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     1 │     1 │ lounge         │ IN      │ st chads vicarage │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │
│     1 │     1 │ kitchen        │ IN      │ st chads vicarage │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ 468edbe1-74ea-41f2-b1ae-c97806841e0d │
│     1 │     1 │ dining room    │ IN      │ st chads vicarage │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ 281d67f9-7236-4c63-adaf-c7fac017d962 │ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │
│     2 │     5 │ coffee table   │ IN      │ lounge            │ 2dfea04c-e8ea-4735-8b9a-4a9bf92dca08 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │
│     2 │     1 │ toaster        │ IN      │ kitchen           │ c064c2ee-0119-43fb-b8da-b247a4ce5007 │ 4dbba35f-ef8f-4af1-9148-02f2a0e1cbd1 │ 468edbe1-74ea-41f2-b1ae-c97806841e0d │ aa5c5230-29d1-4f02-b011-20a6ea03766a │
│     2 │     3 │ yellow chair   │ IN      │ dining room       │ 4e18e23a-ca8b-4ed3-9ba6-8e2fb46d6cd8 │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │ 4d10faad-8a10-436b-b732-011a7b4ad043 │
│     3 │     2 │ coaster        │ ON      │ coffee table      │ c24f8072-9ced-45ee-9f1e-f7d1af7205d9 │ 2dfea04c-e8ea-4735-8b9a-4a9bf92dca08 │ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │ f03c6766-6984-4821-9dcf-a1efc231758f │
│     3 │     1 │ slice of bread │ IN      │ toaster           │ 13c461ce-3d8b-4c9e-a4b6-21e43bb7e85e │ c064c2ee-0119-43fb-b8da-b247a4ce5007 │ aa5c5230-29d1-4f02-b011-20a6ea03766a │ 3e874dbd-0cfc-4388-ad8b-ddfcc1b6a329 │
└───────┴───────┴────────────────┴─────────┴───────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [17]:
# # update inventory hierarchy levels
# entity_sql = select_entity(fields="[entity_id], [base_hierarchy_level]")
# l1_entities = [entity[0] for entity in entity_sql if entity[1] == 1]
# l2_entities = [entity[0] for entity in entity_sql if entity[1] == 2]
# inventory_sql = select_inventory()
# inventory = sorted([dict(inv) for inv in inventory_sql], key=itemgetter('created_time'))
# updated_inventory = list()
# for inv in inventory:
#     if inv["entity_id_parent"] in l1_entities: # calculate level as 1 if the inventory parent entity is a level 1
#         inv["level_calc"] = 1
#         updated_inventory.append(inv)
#     # elif inv["entity_id_parent"] in l2_entities: # calculate level as 2 if the inventory parent entity is a level 2
#     #     inv["level_calc"] = 2
#     #     updated_inventory.append(inv)
#     else: # otherwise get the level of the parent inventory and increment it by 1
#         parent_lvl = [i for i in updated_inventory if i["inventory_id"] == inv["inventory_id_parent"]][0]["level_calc"]
#         inv["level_calc"] = parent_lvl + 1
#     update_inventory_hierarchy(
#         inventory_id = inv["inventory_id"],
#         hierarchy_level = inv["level_calc"]
#     )

# # check the inventory records
# dd.sql(sql_inventory).show()

In [18]:
# close the database connection
dd.close()