In [1]:
# import the modules
from entity import Entity
from data.duck import dd, sql_inventory
from exception import EntityDeleteHasInventoryError
from data.sql import *
from uuid import uuid4

In [2]:
# try creating an item
item = Entity(description="a lovely plump piglet", entity_id="1dd566b5-21ba-4f5c-ae90-c1841feab8b5")
print(item)
# return the database record
dd.sql("select * from entity_sql where entity_id = '1dd566b5-21ba-4f5c-ae90-c1841feab8b5'")

Entity created successfully: Lovely Plump Piglet (total inventory: 0) (1dd566b5-21ba-4f5c-ae90-c1841feab8b5)
Lovely Plump Piglet (total inventory: 0) (1dd566b5-21ba-4f5c-ae90-c1841feab8b5)

┌──────────────────────────────────────┬──────────────────┬─────────────────────┬─────────┬──────────────┬──────────────────────┬──────────────────────┬──────────────────────┬─────────────────────┐
│              entity_id               │ entity_id_parent │     entity_key      │  noun   │  adjectives  │ description_singular │  description_plural  │ base_hierarchy_level │    created_time     │
│               varchar                │     varchar      │       varchar       │ varchar │   varchar    │       varchar        │       varchar        │        int64         │      timestamp      │
├──────────────────────────────────────┼──────────────────┼─────────────────────┼─────────┼──────────────┼──────────────────────┼──────────────────────┼──────────────────────┼─────────────────────┤
│ 1dd566b5-21ba-4f5c-ae90-c1841feab8b5 │ None             │ lovely_piglet_plump │ piglet  │ lovely plump │ lovely plump piglet  │ lovely plump piglets │                    0 │ 2025-03-13 09:04:38 │
└──────────────────────────────────────┴──────────────────┴─────────────────────┴─────────┴──────────────┴──────────────────────┴──────────────────────┴──────────────────────┴─────────────────────┘

In [3]:
# update the entity and check the description in the database has updated
item2 = Entity("a plump lovely piglet")
piggy2 = select_entity(entity_key="lovely_piglet_plump")
# return the database record
dd.sql("select * from entity_sql where entity_id = '1dd566b5-21ba-4f5c-ae90-c1841feab8b5'")

Entity updated successfully: Plump Lovely Piglet (total inventory: 0) (1dd566b5-21ba-4f5c-ae90-c1841feab8b5)

┌──────────────────────────────────────┬──────────────────┬─────────────────────┬─────────┬──────────────┬──────────────────────┬──────────────────────┬──────────────────────┬─────────────────────┐
│              entity_id               │ entity_id_parent │     entity_key      │  noun   │  adjectives  │ description_singular │  description_plural  │ base_hierarchy_level │    created_time     │
│               varchar                │     varchar      │       varchar       │ varchar │   varchar    │       varchar        │       varchar        │        int64         │      timestamp      │
├──────────────────────────────────────┼──────────────────┼─────────────────────┼─────────┼──────────────┼──────────────────────┼──────────────────────┼──────────────────────┼─────────────────────┤
│ 1dd566b5-21ba-4f5c-ae90-c1841feab8b5 │ None             │ lovely_piglet_plump │ piglet  │ plump lovely │ plump lovely piglet  │ plump lovely piglets │                    0 │ 2025-03-13 09:04:38 │
└──────────────────────────────────────┴──────────────────┴─────────────────────┴─────────┴──────────────┴──────────────────────┴──────────────────────┴──────────────────────┴─────────────────────┘

In [4]:
# add some inventory for the entity
insert_inventory(
    inventory_id = "6d652592-7301-4819-9660-3c5ea40f0b50",
    inventory_id_parent = "8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe", # lounge in vicarage
    entity_id_parent = "03dd5c43-d66e-4c3f-a6eb-eb67b47c0373", # lounge
    entity_id_child = "1dd566b5-21ba-4f5c-ae90-c1841feab8b5", # piglet
    quantity = 10,
)
print(item)
# check the updated inventory record
dd.sql(sql_inventory(inventory_id = '6d652592-7301-4819-9660-3c5ea40f0b50')).show()

Lovely Plump Piglet (total inventory: 10) (1dd566b5-21ba-4f5c-ae90-c1841feab8b5)
┌───────┬───────┬─────────────────────┬─────────┬─────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │        child        │   pos   │ parent  │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │       varchar       │ varchar │ varchar │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼─────────────────────┼─────────┼─────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     0 │    10 │ plump lovely piglet │ IN      │ lounge  │ 6d652592-7301-4819-9660-3c5ea40f0b50 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ 1dd566b5-21ba-4f5c-ae90-c1841feab8b5 │
└───────┴───────┴─────────────────────┴─────────┴─────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [5]:
# delete the entities !!!Should fail with the EntityDeleteHasInventoryError!
print(item)
try:
    item.delete_existing()
except EntityDeleteHasInventoryError as e:
    print(e)

Lovely Plump Piglet (total inventory: 10) (1dd566b5-21ba-4f5c-ae90-c1841feab8b5)
Cannot delete as entity has inventory

In [6]:
# remove the inventory so item can be deleted
delete_inventory("6d652592-7301-4819-9660-3c5ea40f0b50")
item.delete_existing()
piggy = select_entity(entity_key="lovely_piglet_plump")
print(item)
if piggy:
    print(dict(piggy))

Entity deleted successfully
Lovely Plump Piglet (total inventory: 0) (1dd566b5-21ba-4f5c-ae90-c1841feab8b5)

In [7]:
dd.sql("select * from entity_sql").show()

┌──────────────────────────────────────┬──────────────────┬───────────────────┬──────────┬────────────┬──────────────────────┬────────────────────┬──────────────────────┬─────────────────────┐
│              entity_id               │ entity_id_parent │    entity_key     │   noun   │ adjectives │ description_singular │ description_plural │ base_hierarchy_level │    created_time     │
│               varchar                │     varchar      │      varchar      │ varchar  │  varchar   │       varchar        │      varchar       │        int64         │      timestamp      │
├──────────────────────────────────────┼──────────────────┼───────────────────┼──────────┼────────────┼──────────────────────┼────────────────────┼──────────────────────┼─────────────────────┤
│ 281d67f9-7236-4c63-adaf-c7fac017d962 │ None             │ chads_st_vicarage │ vicarage │ st chads   │ st chads vicarage    │ st chads vicarages │                    1 │ 2025-03-13 09:04:19 │
│ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ None             │ lounge            │ lounge   │            │ lounge               │ lounges            │                    0 │ 2025-03-13 09:04:19 │
│ 468edbe1-74ea-41f2-b1ae-c97806841e0d │ None             │ kitchen           │ kitchen  │            │ kitchen              │ kitchens           │                    0 │ 2025-03-13 09:04:19 │
│ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │ None             │ dining_room       │ room     │ dining     │ dining room          │ dining rooms       │                    0 │ 2025-03-13 09:04:19 │
│ 4d10faad-8a10-436b-b732-011a7b4ad043 │ None             │ chair_yellow      │ chair    │ yellow     │ yellow chair         │ yellow chairs      │                    0 │ 2025-03-13 09:04:19 │
│ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │ None             │ coffee_table      │ table    │ coffee     │ coffee table         │ coffee tables      │                    0 │ 2025-03-13 09:04:19 │
│ aa5c5230-29d1-4f02-b011-20a6ea03766a │ None             │ toaster           │ toaster  │            │ toaster              │ toasters           │                    0 │ 2025-03-13 09:04:19 │
│ f03c6766-6984-4821-9dcf-a1efc231758f │ None             │ coaster           │ coaster  │            │ coaster              │ coasters           │                    0 │ 2025-03-13 09:04:19 │
│ 3e874dbd-0cfc-4388-ad8b-ddfcc1b6a329 │ None             │ bread_of_slice    │ bread    │ slice of   │ slice of bread       │ slices of bread    │                    0 │ 2025-03-13 09:04:19 │
└──────────────────────────────────────┴──────────────────┴───────────────────┴──────────┴────────────┴──────────────────────┴────────────────────┴──────────────────────┴─────────────────────┘

In [8]:
dd.close()