In [1]:
from inventory import Inventory
from exception import InventoryRemoveZeroError, InventoryRemoveExcessiveError
from entity import Entity
from sql import select_inventory, select_entity
from uuid import uuid4

In [2]:
# coonect using duckdb and validate tables
import duckdb as dd

# Create an in-memory DuckDB connection
con = dd.connect(':memory:')

# dd.sql("SELECT * FROM sqlite_scan('../data/inventory.db', 'inventory_sql');").show()
try:
    dd.sql("ATTACH '../data/inventory.db' AS inventory (TYPE sqlite);")
except:
    print("already attached")
dd.sql("USE inventory")

In [3]:
# define database queries
sql_inventory = '''
        select INV.hierarchy_level as lvl
            , INV.quantity as qty
            , CHI.description_singular as child
            , INV.position as pos
            , PAR.description_singular as parent
            , INV.inventory_id
            , INV.inventory_id_parent
            , PAR.entity_id as parent
            , CHI.entity_id as child
        from inventory_sql INV
        inner join entity_sql PAR on PAR.entity_id = INV.entity_id_parent
        inner join entity_sql CHI on CHI.entity_id = INV.entity_id_child
    '''

In [4]:
# try adding a yellow chair to the lounge
item = Entity(description="Yellow Chair")
print(item)
location = Entity(description="Lounge")
print(location)

Yellow Chair (total inventory: 3) (4d10faad-8a10-436b-b732-011a7b4ad043)
Lounge (total inventory: 1) (03dd5c43-d66e-4c3f-a6eb-eb67b47c0373)

In [5]:
# check the inventory for the item
print(f"{item.description} inventory:")
sql_where = f"WHERE INV.entity_id_child = '{item.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()
# and the inventory for the location
print(f"{location.description} inventory:")
sql_where = f"WHERE INV.entity_id_parent = '{location.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()

yellow chair inventory:
┌───────┬───────┬──────────────┬─────────┬─────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │    child     │   pos   │   parent    │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │   varchar    │ varchar │   varchar   │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼──────────────┼─────────┼─────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     2 │     3 │ yellow chair │ IN      │ dining room │ 4e18e23a-ca8b-4ed3-9ba6-8e2fb46d6cd8 │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │ 4d10faad-8a10-436b-b732-011a7b4ad043 │
└───────┴───────┴──────────────┴─────────┴─────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

lounge inventory:
┌───────┬───────┬──────────────┬─────────┬─────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │    child     │   pos   │ parent  │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │   varchar    │ varchar │ varchar │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼──────────────┼─────────┼─────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     2 │     5 │ coffee table │ IN      │ lounge  │ 2dfea04c-e8ea-4735-8b9a-4a9bf92dca08 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │
└───────┴───────┴──────────────┴─────────┴─────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [6]:
# try adding 4 yellow chairs to the lounge
inventory = Inventory(entity_parent=location, entity_child=item, quantity=4)
print(inventory)
sql_where = f"WHERE INV.entity_id_parent = '{location.entity_id}' and entity_id_child = '{item.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()

Inventory created successfully
4 yellow chairs (4d10faad-8a10-436b-b732-011a7b4ad043) in lounge (03dd5c43-d66e-4c3f-a6eb-eb67b47c0373)
┌───────┬───────┬──────────────┬─────────┬─────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │    child     │   pos   │ parent  │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │   varchar    │ varchar │ varchar │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼──────────────┼─────────┼─────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     2 │     4 │ yellow chair │ IN      │ lounge  │ 0a866b20-5343-47d9-add9-ad2a9ceabe45 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ 4d10faad-8a10-436b-b732-011a7b4ad043 │
└───────┴───────┴──────────────┴─────────┴─────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [7]:
# check the inventory for the item
print(f"{item.description} inventory:")
sql_where = f"WHERE INV.entity_id_child = '{item.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()
# and the inventory for the location
print(f"{location.description} inventory:")
sql_where = f"WHERE INV.entity_id_parent = '{location.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()

yellow chair inventory:
┌───────┬───────┬──────────────┬─────────┬─────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │    child     │   pos   │   parent    │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │   varchar    │ varchar │   varchar   │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼──────────────┼─────────┼─────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     2 │     4 │ yellow chair │ IN      │ lounge      │ 0a866b20-5343-47d9-add9-ad2a9ceabe45 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ 4d10faad-8a10-436b-b732-011a7b4ad043 │
│     2 │     3 │ yellow chair │ IN      │ dining room │ 4e18e23a-ca8b-4ed3-9ba6-8e2fb46d6cd8 │ 6dc856f4-42fe-4fe0-868b-9d002eff2e27 │ e5998068-17a4-4c7d-b64f-4b6e28e8b93d │ 4d10faad-8a10-436b-b732-011a7b4ad043 │
└───────┴───────┴──────────────┴─────────┴─────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

lounge inventory:
┌───────┬───────┬──────────────┬─────────┬─────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │    child     │   pos   │ parent  │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │   varchar    │ varchar │ varchar │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼──────────────┼─────────┼─────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     2 │     4 │ yellow chair │ IN      │ lounge  │ 0a866b20-5343-47d9-add9-ad2a9ceabe45 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ 4d10faad-8a10-436b-b732-011a7b4ad043 │
│     2 │     5 │ coffee table │ IN      │ lounge  │ 2dfea04c-e8ea-4735-8b9a-4a9bf92dca08 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ bb85b691-61f2-4a73-8313-3e5367d4b7b6 │
└───────┴───────┴──────────────┴─────────┴─────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [8]:
# try adding a further 2 yellow chairs to the lounge
inventory = Inventory(entity_parent=location, entity_child=item, quantity=2)
print(inventory)
sql_where = f"WHERE INV.entity_id_parent = '{location.entity_id}' and entity_id_child = '{item.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()

Inventory updated successfully
6 yellow chairs (4d10faad-8a10-436b-b732-011a7b4ad043) in lounge (03dd5c43-d66e-4c3f-a6eb-eb67b47c0373)
┌───────┬───────┬──────────────┬─────────┬─────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │    child     │   pos   │ parent  │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │   varchar    │ varchar │ varchar │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼──────────────┼─────────┼─────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     2 │     6 │ yellow chair │ IN      │ lounge  │ 0a866b20-5343-47d9-add9-ad2a9ceabe45 │ 8ce8d635-c5c5-49d7-bdcf-2b5cfb2298fe │ 03dd5c43-d66e-4c3f-a6eb-eb67b47c0373 │ 4d10faad-8a10-436b-b732-011a7b4ad043 │
└───────┴───────┴──────────────┴─────────┴─────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [9]:
# try removing too many yellow chairs from the lounge
try:
    inventory = Inventory(entity_parent=location, entity_child=item, quantity=99999, action="REMOVE")
except InventoryRemoveExcessiveError as e:
    print(e)

There are not enough yellow chairs in lounge to remove

In [10]:
# remove all yellow chairs from lounge
new_quantity = inventory._quantity_new
inventory = Inventory(entity_parent=location, entity_child=item, quantity=new_quantity, action="REMOVE")
# inventory record should have been deleted
sql_where = f"WHERE INV.entity_id_parent = '{location.entity_id}' and entity_id_child = '{item.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()

Inventory deleted successfully
┌───────┬───────┬─────────┬─────────┬─────────┬──────────────┬─────────────────────┬─────────┬─────────┐
│  lvl  │  qty  │  child  │   pos   │ parent  │ inventory_id │ inventory_id_parent │ parent  │  child  │
│ int64 │ int64 │ varchar │ varchar │ varchar │   varchar    │       varchar       │ varchar │ varchar │
├───────┴───────┴─────────┴─────────┴─────────┴──────────────┴─────────────────────┴─────────┴─────────┤
│                                                0 rows                                                │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [11]:
# try removing a further yellow chair from the lounge
try:
    inventory = Inventory(entity_parent=location, entity_child=item, quantity=1, action="REMOVE")
except InventoryRemoveZeroError as e:
    print(e)

There are no yellow chairs in lounge to remove

In [12]:
# add a new level 1 location
location1 = Entity(description="Stillwaters",base_hierarchy_level = 1, entity_id="339cfbbb-f263-41f0-b4dc-5abcfe83e98c")
dd.sql(f"select * from entity_sql where entity_key = 'stillwater'").show()

Entity created successfully: Stillwater (total inventory: 0) (339cfbbb-f263-41f0-b4dc-5abcfe83e98c)
┌──────────────────────────────────────┬──────────────────┬────────────┬────────────┬────────────┬──────────────────────┬────────────────────┬──────────────────────┬─────────────────────┐
│              entity_id               │ entity_id_parent │ entity_key │    noun    │ adjectives │ description_singular │ description_plural │ base_hierarchy_level │    created_time     │
│               varchar                │     varchar      │  varchar   │  varchar   │  varchar   │       varchar        │      varchar       │        int64         │      timestamp      │
├──────────────────────────────────────┼──────────────────┼────────────┼────────────┼────────────┼──────────────────────┼────────────────────┼──────────────────────┼─────────────────────┤
│ 339cfbbb-f263-41f0-b4dc-5abcfe83e98c │ None             │ stillwater │ stillwater │            │ stillwater           │ stillwaters        │                    1 │ 2025-03-07 17:06:17 │
└──────────────────────────────────────┴──────────────────┴────────────┴────────────┴────────────┴──────────────────────┴────────────────────┴──────────────────────┴─────────────────────┘

In [13]:
# add a new level 2 location
location2 = Entity(description="Dungeon",base_hierarchy_level = 2, entity_id="9388641c-36bb-42f8-92b5-0d267098e7f1", entity_id_parent="339cfbbb-f263-41f0-b4dc-5abcfe83e98c")
dd.sql(f"select * from entity_sql where entity_key = 'dungeon'").show()

Entity created successfully: Dungeon (total inventory: 0) (9388641c-36bb-42f8-92b5-0d267098e7f1)
┌──────────────────────────────────────┬──────────────────────────────────────┬────────────┬─────────┬────────────┬──────────────────────┬────────────────────┬──────────────────────┬─────────────────────┐
│              entity_id               │           entity_id_parent           │ entity_key │  noun   │ adjectives │ description_singular │ description_plural │ base_hierarchy_level │    created_time     │
│               varchar                │               varchar                │  varchar   │ varchar │  varchar   │       varchar        │      varchar       │        int64         │      timestamp      │
├──────────────────────────────────────┼──────────────────────────────────────┼────────────┼─────────┼────────────┼──────────────────────┼────────────────────┼──────────────────────┼─────────────────────┤
│ 9388641c-36bb-42f8-92b5-0d267098e7f1 │ 339cfbbb-f263-41f0-b4dc-5abcfe83e98c │ dungeon    │ dungeon │            │ dungeon              │ dungeon            │                    2 │ 2025-03-07 17:06:18 │
└──────────────────────────────────────┴──────────────────────────────────────┴────────────┴─────────┴────────────┴──────────────────────┴────────────────────┴──────────────────────┴─────────────────────┘

In [14]:
# create an inventory record for the new level 1 location
inventory = Inventory(entity_parent=location1, entity_child=location2, quantity=1)
print(location1.entity_id, location2.entity_id)
# inventory record newly created
sql_where = f"WHERE INV.entity_id_parent = '{location1.entity_id}' and entity_id_child = '{location2.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()

Inventory created successfully
339cfbbb-f263-41f0-b4dc-5abcfe83e98c 9388641c-36bb-42f8-92b5-0d267098e7f1
┌───────┬───────┬─────────┬─────────┬────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │  child  │   pos   │   parent   │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │ varchar │ varchar │  varchar   │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼─────────┼─────────┼────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     1 │     1 │ dungeon │ IN      │ stillwater │ cc4a2f0b-5092-4d7e-a89a-2f6437320162 │ cc4a2f0b-5092-4d7e-a89a-2f6437320162 │ 339cfbbb-f263-41f0-b4dc-5abcfe83e98c │ 9388641c-36bb-42f8-92b5-0d267098e7f1 │
└───────┴───────┴─────────┴─────────┴────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [15]:
# add a cd rack to the dungeon
item = Entity("CD Rack")
location = Entity("Dungeon")
inventory = Inventory(entity_parent=location, entity_child=item, quantity=1)
# inventory record newly created
sql_where = f"WHERE INV.entity_id_parent = '{location.entity_id}' and entity_id_child = '{item.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()

Entity created successfully: Cd Rack (total inventory: 0) (dca8db90-e4f6-4a3d-ba66-7603973853d3)
Inventory created successfully
┌───────┬───────┬─────────┬─────────┬─────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │  child  │   pos   │ parent  │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │ varchar │ varchar │ varchar │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼─────────┼─────────┼─────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     2 │     1 │ cd rack │ IN      │ dungeon │ 67c3aa0e-1349-4143-8521-fc95dfb82539 │ cc4a2f0b-5092-4d7e-a89a-2f6437320162 │ 9388641c-36bb-42f8-92b5-0d267098e7f1 │ dca8db90-e4f6-4a3d-ba66-7603973853d3 │
└───────┴───────┴─────────┴─────────┴─────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [16]:
# add a cd to the cd rack
item = Entity("The World Wont Listen by The Smiths")
location = Entity("CD Rack")
inventory = Inventory(entity_parent=location, entity_child=item, quantity=1)
# inventory record newly created
sql_where = f"WHERE INV.entity_id_parent = '{location.entity_id}' and entity_id_child = '{item.entity_id}'"
sql_full = sql_inventory + sql_where
dd.sql(sql_full).show()

Entity created successfully: World Wont Listen By Smith (total inventory: 0) (8deaab3a-412f-4a7b-b942-c8dacc9e2e17)
Inventory created successfully
┌───────┬───────┬────────────────────────────┬─────────┬─────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┐
│  lvl  │  qty  │           child            │   pos   │ parent  │             inventory_id             │         inventory_id_parent          │                parent                │                child                 │
│ int64 │ int64 │          varchar           │ varchar │ varchar │               varchar                │               varchar                │               varchar                │               varchar                │
├───────┼───────┼────────────────────────────┼─────────┼─────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┤
│     3 │     1 │ world wont listen by smith │ IN      │ cd rack │ 2c2c709d-4834-45b9-839d-5a0e04ff502d │ 67c3aa0e-1349-4143-8521-fc95dfb82539 │ dca8db90-e4f6-4a3d-ba66-7603973853d3 │ 8deaab3a-412f-4a7b-b942-c8dacc9e2e17 │
└───────┴───────┴────────────────────────────┴─────────┴─────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────┘

In [18]:
# add a lounge to the stillwaters location
location2 = Entity(description="Lounge",base_hierarchy_level = 2, entity_id=uuid4(), entity_id_parent="339cfbbb-f263-41f0-b4dc-5abcfe83e98c")
dd.sql(f"select * from entity_sql where entity_key = 'lounge'").show()

ValueError: Error creating entity: UNIQUE constraint failed: entity_sql.entity_key

In [ ]:
# view all the entities
dd.sql("select * from entity_sql").show()

In [16]:
dd.sql("select * from inventory_sql where inventory_id = '2f2bc07f-6a82-4029-858f-b06a0254059c'")

┌──────────────┬─────────────────────┬──────────────────┬─────────────────┬──────────┬──────────┬─────────────────┬──────────────┐
│ inventory_id │ inventory_id_parent │ entity_id_parent │ entity_id_child │ quantity │ position │ hierarchy_level │ created_time │
│   varchar    │       varchar       │     varchar      │     varchar     │  int64   │ varchar  │      int64      │  timestamp   │
├──────────────┴─────────────────────┴──────────────────┴─────────────────┴──────────┴──────────┴─────────────────┴──────────────┤
│                                                             0 rows                                                             │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [3]:
dd.close()